// Responsive breakpoints
$fs-breakpoint-xxsmall: 320px !default;
$fs-breakpoint-xsmall: 660px !default;
$fs-breakpoint-small: 900px !default;
$fs-breakpoint-medium: 1100px !default;
$fs-breakpoint-large: 1800px !default;

@mixin mobile {
  @media only screen and (max-width: $fs-breakpoint-xsmall) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (min-width: $fs-breakpoint-xsmall + 1) and (max-width: $fs-breakpoint-small) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: $fs-breakpoint-small + 1) and (max-width: $fs-breakpoint-medium) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $fs-breakpoint-medium + 1) and (max-width: $fs-breakpoint-large) {
    @content;
  }
}

@mixin large-desktop {
  @media only screen and (min-width: $fs-breakpoint-large  + 1) {
    @content;
  }
}

// Inclusive range going up
@mixin min-tablet-portrait {
  @media only screen and (min-width: $fs-breakpoint-xsmall + 1) {
    @content;
  }
}

@mixin min-tablet-landscape {
  @media only screen and (min-width: $fs-breakpoint-small + 1) {
    @content;
  }
}

@mixin min-desktop {
  @media only screen and (min-width: $fs-breakpoint-large + 1) {
    @content;
  }
}

// Inclusive range going down
@mixin max-desktop {
  @media only screen and (max-width: $fs-breakpoint-large) {
    @content;
  }
}

@mixin max-tablet-landscape {
  @media only screen and (max-width: $fs-breakpoint-medium) {
    @content;
  }
}

@mixin max-tablet-portrait {
  @media only screen and (max-width: $fs-breakpoint-small) {
    @content;
  }
}

@mixin max-mobile {
  @media only screen and (max-width: $fs-breakpoint-xsmall) {
    @content;
  }
}

@mixin min-mobile {
  @media only screen and (max-width: $fs-breakpoint-xxsmall) {
    @content;
  }
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('./assets/typefaces/arial-narrow.ttf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

$ge-red: red;

body {
  padding: 0;
  margin: 0;
  font-family: 'Arial Narrow';
  cursor: default;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

img.lazy {
        opacity: 0;
      }
      img:not(.initial) {
        transition: opacity 1s;
      }
      img.initial,
      img.loaded,
      img.error {
        opacity: 1;
      }

      img:not([src]) {
        visibility: hidden;
      }

video {
  width: 100%;
}

html {
  background-color: white;
}

button {
  background-color: transparent;
  border: none;
  border-radius: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

/* Header Styling */

.ge-header-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: $ge-red;
  border: 1px solid black;
  text-transform: uppercase;
  z-index: 10;

  a {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.ge-header-section {
  width: 50%;
  display: flex;
  padding: 5px;

  &:last-child {
    padding-left: 0;
  }
}

.ge-header-section-split {
  width: 50%;

  &:last-child {
    text-align: right;
  }
}

/* Feed Styling */

.ge-feed-container {
  width: 100%;
  margin-top: -5px;
}

.ge-feed-split-container {
  width: 100%;
  display: flex;
  position: relative;

  @include max-tablet-portrait {
    flex-direction: column;
  }

  .ge-image {
    width: 50%;
    border: 1px solid black;

    @include max-tablet-portrait {
      width: 100%;
    }

    &:first-child {
      border-right: 0px;

      @include max-tablet-portrait {
        border-right: 1px solid black;
        border-bottom: 0px;
      }
    }
  }
}

/* Footer Styling */

.ge-footer-container {
  position: relative;
  display: flex;
  background-color: $ge-red;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid black;
  border-top: 0px;

  @include max-tablet-portrait {
    flex-direction: column-reverse;
    padding-bottom: 100px;
  }
}

.ge-footer-title {
  width: 100%;
  padding-bottom: 100px;
}

.ge-footer-section {
  list-style: none !important;
  width: 50%;
  display: flex;
  flex-wrap: wrap;

  @include max-tablet-portrait {
    width: 100%;
  }
}

.ge-footer-list {
  width: 50%;
  padding-right: 100px;

  a {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &:last-child {
    @include max-tablet-portrait {
      padding-left: 5px;
    }
  }
}

.ge-footer-cta {
  font-size: 8vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flash-text 0.5s infinite;
  text-decoration: underline;

  @include max-tablet-portrait {
    font-size: 12vw;
    padding-bottom: 10px;
    justify-content: flex-start;
  }

  a {
    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes flash-text {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.33;
  }

  100% {
    opacity: 0.8;
  }
}

.ge-footer-list-container {
  display: flex;

  @include max-tablet-portrait {
    width: 100%;
  }
}

/* Shop Styling */

.ge-shop-feed-container {
  position: relative;
  width: 100%;
  padding-top: 25px;
}

.ge-shop-feed-split-container {
  display: flex;
  flex-wrap: wrap;

  @include max-tablet-portrait {
    margin: 0 12.5px 100px 12.5px;
  }
}

.ge-shop-feed-product {
  width: 50%;
  display: flex;
  margin-bottom: 25px;

  @include max-tablet-portrait {
    flex-direction: column-reverse !important;
    align-items: center;

    .ge-shop-product-info {
      align-items: flex-start;
      text-align: left;
      width: calc(100% - 25px);
      padding: 10px 0 0 0;
    }

    .ge-shop-product-image {
      width: calc(100% - 25px);
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .ge-shop-product-info {
      align-items: flex-start;
      text-align: left;
    }
  }
}

.ge-shop-product-info {
  width: 50%;
  list-style: none;
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.ge-shop-product-image {
  width: 50%;
  padding: 0 20px;

   img {
     border: 1px solid black;

     &:hover {
       cursor: pointer;
       border: 1px solid red;
     }
   }
}

.ge-pop-up-container {
  position: absolute;
  bottom: 100px;
  right: 20px;
  border: 1px solid black;
  width: 200px;
  background-color: lightgrey;
  padding: 10px;

  @include max-tablet-landscape {
    bottom: 50px;
    width: 175px;
  }

  @include max-tablet-portrait {
    display: none;
  }
}

.ge-pop-up-title {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;

  @include max-tablet-landscape {
    font-size: 30px;
  }
}
