@font-face {
  font-family: "Arial Narrow";
  src: url("./assets/typefaces/arial-narrow.ttf") format("truetype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Arial Narrow";
  cursor: default;
  letter-spacing: 2px;
  font-weight: normal;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

img.lazy {
  opacity: 0;
}

img:not(.initial) {
  transition: opacity 1s;
}

img.initial, img.loaded, img.error {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}

video {
  width: 100%;
}

html {
  background-color: white;
}

button {
  background-color: transparent;
  border: none;
  border-radius: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

/* Header Styling */
.ge-header-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: red;
  border: 1px solid black;
  text-transform: uppercase;
  z-index: 10;
}
.ge-header-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.ge-header-section {
  width: 50%;
  display: flex;
  padding: 5px;
}
.ge-header-section:last-child {
  padding-left: 0;
}

.ge-header-section-split {
  width: 50%;
}
.ge-header-section-split:last-child {
  text-align: right;
}

/* Feed Styling */
.ge-feed-container {
  width: 100%;
  margin-top: -5px;
}

.ge-feed-split-container {
  width: 100%;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .ge-feed-split-container {
    flex-direction: column;
  }
}
.ge-feed-split-container .ge-image {
  width: 50%;
  border: 1px solid black;
}
@media only screen and (max-width: 900px) {
  .ge-feed-split-container .ge-image {
    width: 100%;
  }
}
.ge-feed-split-container .ge-image:first-child {
  border-right: 0px;
}
@media only screen and (max-width: 900px) {
  .ge-feed-split-container .ge-image:first-child {
    border-right: 1px solid black;
    border-bottom: 0px;
  }
}

/* Footer Styling */
.ge-footer-container {
  position: relative;
  display: flex;
  background-color: red;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid black;
  border-top: 0px;
}
@media only screen and (max-width: 900px) {
  .ge-footer-container {
    flex-direction: column-reverse;
    padding-bottom: 100px;
  }
}

.ge-footer-title {
  width: 100%;
  padding-bottom: 100px;
}

.ge-footer-section {
  list-style: none !important;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 900px) {
  .ge-footer-section {
    width: 100%;
  }
}

.ge-footer-list {
  width: 50%;
  padding-right: 100px;
}
.ge-footer-list a:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .ge-footer-list:last-child {
    padding-left: 5px;
  }
}

.ge-footer-cta {
  font-size: 8vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flash-text 0.5s infinite;
  text-decoration: underline;
}
@media only screen and (max-width: 900px) {
  .ge-footer-cta {
    font-size: 12vw;
    padding-bottom: 10px;
    justify-content: flex-start;
  }
}
.ge-footer-cta a:hover {
  cursor: pointer;
}

@keyframes flash-text {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.33;
  }
  100% {
    opacity: 0.8;
  }
}
.ge-footer-list-container {
  display: flex;
}
@media only screen and (max-width: 900px) {
  .ge-footer-list-container {
    width: 100%;
  }
}

/* Shop Styling */
.ge-shop-feed-container {
  position: relative;
  width: 100%;
  padding-top: 25px;
}

.ge-shop-feed-split-container {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 900px) {
  .ge-shop-feed-split-container {
    margin: 0 12.5px 100px 12.5px;
  }
}

.ge-shop-feed-product {
  width: 50%;
  display: flex;
  margin-bottom: 25px;
}
@media only screen and (max-width: 900px) {
  .ge-shop-feed-product {
    flex-direction: column-reverse !important;
    align-items: center;
  }
  .ge-shop-feed-product .ge-shop-product-info {
    align-items: flex-start;
    text-align: left;
    width: calc(100% - 25px);
    padding: 10px 0 0 0;
  }
  .ge-shop-feed-product .ge-shop-product-image {
    width: calc(100% - 25px);
  }
}
.ge-shop-feed-product:nth-child(even) {
  flex-direction: row-reverse;
}
.ge-shop-feed-product:nth-child(even) .ge-shop-product-info {
  align-items: flex-start;
  text-align: left;
}

.ge-shop-product-info {
  width: 50%;
  list-style: none;
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.ge-shop-product-image {
  width: 50%;
  padding: 0 20px;
}
.ge-shop-product-image img {
  border: 1px solid black;
}
.ge-shop-product-image img:hover {
  cursor: pointer;
  border: 1px solid red;
}

.ge-pop-up-container {
  position: absolute;
  bottom: 100px;
  right: 20px;
  border: 1px solid black;
  width: 200px;
  background-color: lightgrey;
  padding: 10px;
}
@media only screen and (max-width: 1100px) {
  .ge-pop-up-container {
    bottom: 50px;
    width: 175px;
  }
}
@media only screen and (max-width: 900px) {
  .ge-pop-up-container {
    display: none;
  }
}

.ge-pop-up-title {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  width: 100%;
  padding-bottom: 5px;
}
@media only screen and (max-width: 1100px) {
  .ge-pop-up-title {
    font-size: 30px;
  }
}

/*# sourceMappingURL=default.css.map */
