@font-face {
  font-family: "Arial Narrow";
  src: url("./assets/typefaces/arial-narrow.ttf") format("truetype");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  cursor: default;
  letter-spacing: 2px;
  font-weight: normal;
  -webkit-text-stroke: 1px;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

html {
  background-color: white;
}

button {
  background-color: transparent;
  border: none;
  border-radius: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.ts-page {
  position: relative;
}

.ts-scroll--open {
  overflow: hidden;
}

.ts-contact {
  background-color: yellow;
}

/* Header Styling */
.ts-header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  margin-left: 60px;
}
@media only screen and (max-width: 660px) {
  .ts-header-container {
    margin-left: 10px;
  }
}

.ts-header-container-inner {
  padding: 10px;
}

.ts-header-link {
  list-style: none;
}
.ts-header-link li {
  cursor: pointer;
}
.ts-header-link a {
  line-height: 1;
  font-size: 4vw;
  color: yellow;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  pointer-events: all;
  transition: all 0.5s;
}
@media only screen and (max-width: 1100px) {
  .ts-header-link a {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 660px) {
  .ts-header-link a {
    font-size: 9vw;
  }
}
.ts-header-link a:hover {
  letter-spacing: 20px;
  transition: all 0.5s;
}

/* Pop Up Styling */
.ts-pop-up-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
  background-color: yellow;
  display: block;
  z-index: 20;
}
@media only screen and (max-width: 1100px) {
  .ts-pop-up-container {
    width: 40%;
  }
}
@media only screen and (max-width: 660px) {
  .ts-pop-up-container {
    display: none;
  }
}

.ts-pop-up-tab {
  position: fixed;
  width: 25%;
  background-color: yellow;
  bottom: 0;
  right: 0;
  z-index: 50;
}
.ts-pop-up-tab:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .ts-pop-up-tab {
    width: 40%;
  }
}
@media only screen and (max-width: 660px) {
  .ts-pop-up-tab {
    display: none;
  }
}

.ts-pop-up-tab-inner {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.ts-pop-up-tab-inner svg {
  width: 10px;
  margin-right: 5px;
}

.ts-pop-up-container--close {
  display: none;
}

.ts-pop-up-container-inner {
  padding: 10px;
}

.ts-pop-up-container-close {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  padding-bottom: 10px;
}
.ts-pop-up-container-close svg:hover {
  cursor: pointer;
}

/* Feed Styling */
.ts-feed {
  width: 100%;
}

.ts-feed-inner {
  width: 35%;
  margin: 0 auto;
  padding: 20px 0 10px;
}
@media only screen and (max-width: 1100px) {
  .ts-feed-inner {
    width: 50%;
  }
}
@media only screen and (max-width: 660px) {
  .ts-feed-inner {
    padding: 0;
    width: 100%;
  }
}

.ts-feed-item {
  object-fit: contain;
  overflow: hidden;
  margin-bottom: 10px;
}
@media only screen and (max-width: 660px) {
  .ts-feed-item {
    margin-bottom: 0;
  }
}
.ts-feed-item .ts-feed-title-container {
  opacity: 0;
}
.ts-feed-item:hover .ts-feed-title-container {
  opacity: 1;
}
.ts-feed-item:last-child {
  padding-bottom: 0;
}
.ts-feed-item .ts-feed-image {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  margin: -5px 0 0 -5px;
  transition: all 0.5s;
}
.ts-feed-item .ts-feed-image:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  transition: all 0.5s;
  cursor: pointer;
}

.ts-feed-title-container {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  pointer-events: none;
  font-size: 2.5vw;
  line-height: 1;
  color: yellow;
  z-index: 10;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
}
@media only screen and (max-width: 1100px) {
  .ts-feed-title-container {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 660px) {
  .ts-feed-title-container {
    display: none;
  }
}

.ts-feed-title-container-inner {
  padding-bottom: 40px;
}

/* Slider Styling */
.ts-slider-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 40px);
  background-color: white;
  z-index: 50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
@media only screen and (max-width: 660px) {
  .ts-slider-screen {
    height: 100vh;
    padding: 0;
  }
}

.ts-slider-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1100px) {
  .ts-slider-container {
    width: calc(100% - 100px);
  }
}
@media only screen and (max-width: 660px) {
  .ts-slider-container {
    width: calc(100% - 40px);
  }
}

.ts-slider {
  width: 100%;
}

.ts-slide {
  display: flex !important;
  height: 100% !important;
  align-items: center;
}

.slick-slide img {
  display: block;
  width: unset;
  height: unset;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 660px) {
  .slick-slide img {
    margin: -5vh auto 0 auto;
  }
}

.slick-slide {
  transition: all ease-in-out 0.8s;
}

.ts-slider-close {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}
.ts-slider-close:hover {
  cursor: pointer;
}

.ts-next {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 50;
  opacity: 0;
}
.ts-next:hover {
  opacity: 1;
  cursor: pointer;
}
.ts-next svg {
  position: fixed;
  right: 20px;
}
@media only screen and (max-width: 660px) {
  .ts-next {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
    width: fit-content;
    top: 20px;
    right: 20px;
  }
}

.ts-prev {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 50;
  opacity: 0;
}
.ts-prev:hover {
  opacity: 1;
  cursor: pointer;
}
.ts-prev svg {
  position: fixed;
  left: 20px;
}
@media only screen and (max-width: 660px) {
  .ts-prev svg {
    position: absolute;
    left: 0;
  }
}
@media only screen and (max-width: 1100px) {
  .ts-prev {
    width: 50%;
  }
}
@media only screen and (max-width: 660px) {
  .ts-prev {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 1;
    width: fit-content;
    top: 20px;
    left: calc(100% - 100px);
  }
}

.ts-annotation-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 50;
  list-style: none;
}
@media only screen and (max-width: 660px) {
  .ts-annotation-container {
    bottom: 40px;
  }
}
.ts-annotation-container span {
  background-color: yellow;
  display: inline;
}

/* Contact Styling */
.ts-contact-container {
  margin: 150px 0 0 60px;
  line-height: 1;
  font-size: 4vw;
  color: yellow;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  pointer-events: all;
  padding: 10px;
  width: 80%;
  list-style: none;
}
.ts-contact-container li {
  margin-bottom: 20px;
}
@media only screen and (max-width: 1100px) {
  .ts-contact-container {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 660px) {
  .ts-contact-container {
    margin: 150px 0 0 30px;
    font-size: 16px;
    -webkit-text-stroke-width: 1px;
    line-height: 1.2;
    color: black;
  }
}

.ts-contact-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 100;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(215, 215, 215, 0.4);
  display: none;
}

.ts-contact-screen--show {
  display: flex;
}

.ts-contact-pop-up-container {
  width: 60%;
  position: relative;
  list-style: none;
  background-color: yellow;
  padding: 10px;
  font-size: 2vw;
}
.ts-contact-pop-up-container li {
  padding: 10px;
  line-height: 1.3;
}
@media only screen and (max-width: 660px) {
  .ts-contact-pop-up-container {
    width: calc(100% - 80px);
    font-size: 4vw;
    margin-top: -10vh;
  }
}

.ts-split-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ts-split-container a {
  text-decoration: underline;
}
@media only screen and (max-width: 660px) {
  .ts-split-container {
    flex-direction: column;
  }
}

.ts-split-content {
  width: 50%;
}
@media only screen and (max-width: 660px) {
  .ts-split-content {
    width: 100%;
  }
}

.ts-contact-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
}
.ts-contact-close:hover {
  cursor: pointer;
}

/*# sourceMappingURL=default.css.map */
